#secrets
*.pem
*.key
id_rsa
id_ed25519
.env
,env.*
secrets/
!/platform/authentik/secrets/
!/platform/authentik/secrets/**
*.kubeconfig
kubeconfig*

# OS/editor junk
.DS_Store
.vscode/
.idea/

# terraform 
.terraform/
*.tfstate
*.tfstate.*
